{
  "Get-AzPurviewAccountKey+[NoContext]+List+$POST+https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/test-rg5k048/providers/Microsoft.Purview/accounts/bez-test-pa/listkeys?api-version=2021-07-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/test-rg5k048/providers/Microsoft.Purview/accounts/bez-test-pa/listkeys?api-version=2021-07-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "32" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"atlasKafkaPrimaryEndpoint\":\"Endpoint=sb://atlas-11dad920-c180-424c-bd22-875087c5158e.servicebus.windows.net/;SharedAccessKeyName=AlternateSharedAccessKey;SharedAccessKey=ffITzOQOgsNGK7Beoa1TQM8BcbYvK1A2IucO+bcloFI=\",\"atlasKafkaSecondaryEndpoint\":\"Endpoint=sb://atlas-11dad920-c180-424c-bd22-875087c5158e.servicebus.windows.net/;SharedAccessKeyName=AlternateSharedAccessKey;SharedAccessKey=EtghoG+3ngXHWMad8yGp5TpdXiwDkkwn3GV4Fc40S6I=\"}",
    }
  }
}