{
  "Get-AzPurviewAccount+[NoContext]+List1+$GET+https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Purview/accounts?api-version=2021-07-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Purview/accounts?api-version=2021-07-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "24" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-original-request-ids": [ "", "" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11981" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"sku\":{\"name\":\"Standard\",\"capacity\":4},\"properties\":{\"cloudConnectors\":{\"awsExternalId\":\"5c37e31f-6ff8-4ef8-8b4d-60c49b0f90f6\"},\"friendlyName\":\"fypvac\",\"createdBy\":\"fey@microsoft.com\",\"createdByObjectId\":\"0a592c45-613e-4f1b-9023-7c4414fd53bf\",\"createdAt\":\"2021-08-04T08:34:28.6789756Z\",\"endpoints\":{\"catalog\":\"https://fypvac.catalog.purview.azure.com\",\"scan\":\"https://fypvac.scan.purview.azure.com\",\"guardian\":\"https://fypvac.guardian.purview.azure.com\"},\"provisioningState\":\"Succeeded\",\"privateEndpointConnections\":[],\"managedResources\":{\"resourceGroup\":\"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/managed-rg-fypvac\",\"storageAccount\":\"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/managed-rg-fypvac/providers/Microsoft.Storage/storageAccounts/scaneastusdsmvroz\",\"eventHubNamespace\":\"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/managed-rg-fypvac/providers/Microsoft.EventHub/namespaces/Atlas-b709b982-e5b5-436f-b0e6-eca43c5eb8bf\"},\"publicNetworkAccess\":\"Enabled\",\"managedResourceGroupName\":\"managed-rg-fypvac\"},\"id\":\"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/fypurview/providers/Microsoft.Purview/accounts/fypvac\",\"name\":\"fypvac\",\"type\":\"Microsoft.Purview/accounts\",\"location\":\"eastus\",\"identity\":{\"type\":\"SystemAssigned\",\"principalId\":\"167df1e1-a087-43aa-8a7f-c17a4bbd4d36\",\"tenantId\":\"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\"},\"tags\":{},\"systemData\":{\"createdBy\":\"fey@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2021-08-04T08:34:28.6789756Z\",\"lastModifiedBy\":\"fey@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2021-08-04T08:34:28.6789756Z\"}},{\"sku\":{\"name\":\"Standard\",\"capacity\":4},\"properties\":{\"cloudConnectors\":{\"awsExternalId\":\"433aea88-7240-49b0-9c85-5503d04d0a00\"},\"friendlyName\":\"purview-msyyc\",\"createdBy\":\"yuchaoyan@microsoft.com\",\"createdByObjectId\":\"3bd37d68-b234-4fcd-bc83-0fedb27ccf5c\",\"createdAt\":\"2021-08-09T09:38:47.7292859Z\",\"endpoints\":{\"catalog\":\"https://purview-msyyc.catalog.purview.azure.com\",\"scan\":\"https://purview-msyyc.scan.purview.azure.co[...]
