{
  "Set-AzPurviewDefaultAccount+[NoContext]+SetExpanded+$POST+https://management.azure.com/providers/Microsoft.Purview/setDefaultAccount?api-version=2021-07-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/providers/Microsoft.Purview/setDefaultAccount?api-version=2021-07-01",
      "Content": "{\r\n  \"accountName\": \"bez-test-pa\",\r\n  \"resourceGroupName\": \"test-rg5k048\",\r\n  \"scopeTenantId\": \"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\",\r\n  \"subscriptionId\": \"0b1f6471-1bf0-4dda-aec3-cb9272f09590\"\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-tenant-writes": [ "1197" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"scopeTenantId\":\"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\",\"scopeType\":\"Tenant\",\"scope\":\"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\",\"accountName\":\"bez-test-pa\",\"resourceGroupName\":\"test-rg5k048\",\"subscriptionId\":\"0b1f6471-1bf0-4dda-aec3-cb9272f09590\"}",
    }
  }
}