{
  "Test-AzPurviewAccountNameAvailability+[NoContext]+CheckExpanded+$POST+https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Purview/checkNameAvailability?api-version=2021-07-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Purview/checkNameAvailability?api-version=2021-07-01",
      "Content": "{\r\n  \"name\": \"bez-test-pa\",\r\n  \"type\": \"Tenant\"\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11958" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"nameAvailable\":false,\"reason\":\"Invalid\",\"message\":\"The name bez-test-pa is invalid, please use another name.\"}",
    }
  }
}