{
  "Update-AzPurviewAccount+[NoContext]+UpdateExpanded+$PATCH+https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/test-rg5k048/providers/Microsoft.Purview/accounts/bez-test-pa?api-version=2021-07-01+1": {
    "Request": {
      "Method": "PATCH",
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/test-rg5k048/providers/Microsoft.Purview/accounts/bez-test-pa?api-version=2021-07-01",
      "Content": "{\r\n  \"tags\": {\r\n    \"key\": \"value\"\r\n  }\r\n}",
      "Headers": {
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/test-rg5k048/providers/Microsoft.Purview/accounts/bez-test-pa/operationResults/733ce84e-2976-415f-9bec-b641ec207c6f?api-version=2021-07-01" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1194" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"sku\":{\"name\":\"Standard\",\"capacity\":4},\"properties\":{\"cloudConnectors\":{\"awsExternalId\":\"09139e04-151d-4f30-a728-1ad17cd6fd65\"},\"friendlyName\":\"bez-test-pa\",\"createdBy\":\"Beisi.Zhou@microsoft.com\",\"createdByObjectId\":\"2f153a9e-5be9-4f43-abd2-04561777c8b0\",\"createdAt\":\"2021-08-16T07:33:28.2448108Z\",\"endpoints\":{\"catalog\":\"https://bez-test-pa.catalog.purview.azure.com\",\"scan\":\"https://bez-test-pa.scan.purview.azure.com\",\"guardian\":\"https://bez-test-pa.guardian.purview.azure.com\"},\"provisioningState\":\"Creating\",\"privateEndpointConnections\":[],\"managedResources\":{\"resourceGroup\":\"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/managed-rg-lbndtvg\",\"storageAccount\":\"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/managed-rg-lbndtvg/providers/Microsoft.Storage/storageAccounts/scaneastus2bduggiw\",\"eventHubNamespace\":\"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/managed-rg-lbndtvg/providers/Microsoft.EventHub/namespaces/Atlas-11dad920-c180-424c-bd22-875087c5158e\"},\"publicNetworkAccess\":\"Enabled\",\"managedResourceGroupName\":\"managed-rg-lbndtvg\"},\"id\":\"/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/test-rg5k048/providers/Microsoft.Purview/accounts/bez-test-pa\",\"name\":\"bez-test-pa\",\"type\":\"Microsoft.Purview/accounts\",\"location\":\"eastus2\",\"identity\":{\"type\":\"SystemAssigned\",\"principalId\":\"df527b5c-3185-47b2-97c5-56604a6ef201\",\"tenantId\":\"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\"},\"tags\":{\"key\":\"value\"},\"systemData\":{\"createdBy\":\"Beisi.Zhou@microsoft.com\",\"createdByType\":\"User\",\"createdAt\":\"2021-08-16T07:33:28.2448108Z\",\"lastModifiedBy\":\"Beisi.Zhou@microsoft.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2021-08-16T07:33:28.2448108Z\"}}",
    }
  },
  "Update-AzPurviewAccount+[NoContext]+UpdateExpanded+$GET+https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/test-rg5k048/providers/Microsoft.Purview/accounts/bez-test-pa/operationResults/733ce84e-2976-415f-9bec-b641ec207c6f?api-version=2021-07-01+2": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/test-rg5k048/providers/Microsoft.Purview/accounts/bez-test-pa/operationResults/733ce84e-2976-415f-9bec-b641ec207c6f?api-version=2021-07-01",
      "Content": null,
      "Headers": {
        "Authorization": [ "[Filtered]" ],
        "x-ms-unique-id": [ "57" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/test-rg5k048/providers/Microsoft.Purview/accounts/bez-test-pa/operationResults/733ce84e-2976-415f-9bec-b641ec207c6f?api-version=2021-07-01" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "11957" ]
      },
      "ContentHeaders": {
      },
      [...]
